<div class="site-title"> 
    <a href="/"><h1 >Blog Ninja</h1></a>
    <p>A Net Ninja Site</p>
</div>
<div class="navbar">
    <div class="item1">
        <a href="/">Blog</a> 
    </div>
    <div class="item2">
        <a href="/about">About</a>
    </div>
    <div class="item2">
         <a href="/blog/create">New Blog</a>
    </div>
   
</div>