<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>
    <div class="about-content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam necessitatibus iste sequi fugit quod dolorem exercitationem voluptatum ipsa nam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, magnam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sit!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, aut.</p>
    </div>
    <%- include('./partials/footer.ejs'); %>
</body>
</html>